C_basics/loops/do_while.exe
C_basics/loops/for.exe
C_basics/loops/while.exe
C_basics/loops/ecercise/check_prime.exe
C_basics/loops/ecercise/prime_num_sum.exe
C_basics/loops/ecercise/print_alphabet.exe
C_basics/loops/ecercise/print_multi_table.exe
C_basics/loops/ecercise/print_num.exe
C_basics/loops/ecercise/print_prime_num_range.exe
C_basics/loops/ecercise/print_sum_of_n_number.exe
C_basics/loops/ecercise/tempCodeRunnerFile.c
C_basics/switch_case/nested_switch.exe
C_basics/switch_case/switch_case.exe
C_basics/switch_case/excercise/find_week_days.exe
C_basics/switch_case/excercise/max_btw_two_num.exe
C_basics/switch_case/excercise/number_of_days_in_month.exe
C_basics/switch_case/excercise/tempCodeRunnerFile.c
C_basics/switch_case/excercise/vowel_consonsnt_check.exe
DSA in C/basic/array/binary_search.exe
DSA in C/basic/array/deletion.exe
DSA in C/basic/array/insertion.exe
DSA in C/basic/array/linear-search.exe
C_basics/Exercise/matrix/matrix_multiplication.exe
C_basics/Exercise/print_matrix.exe
C_basics/pointer.exe
C_basics/structure.exe
C_basics/Exercise/Area_circumference_of_circle.exe
C_basics/Exercise/factorial.exe
C_basics/Exercise/find_power_of_n.exe
C_basics/Exercise/print_matrix.c
C_basics/structure.c
C_basics/structure.c

C_basics/pattren/slopeStar.exe
C_basics/structure/store_stu_info.exe
C_basics/structure/structure.exe
C_basics/Exercise/roots_of_quadratic.exe
C_basics/Exercise/matrix/print_matrix.exe
DSA in C/basic/Linklist/creation_traversal.exe
DSA in C/basic/array/tempCodeRunnerFile.exe
DSA in C/basic/array/tempCodeRunnerFile.c
C_basics/Exercise/matrix/tempCodeRunnerFile.c
C_basics/tempCodeRunnerFile.c
C_basics/Exercise/matrix/matMulti_with_constant.exe
C_basics/Exercise/matrix/addition.exe
C_basics/Exercise/matrix/subtraction.exe
C_basics/go_to.exe
C_basics/Exercise/Area_perimeter_of_rectangle.exe
